/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Baloo Tammudu', cursive;*/
/* Since I can't target the col classes, maybe can just target rows? */

body {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-weight: 600;
	color: #26a69a;
}

th {
	text-align: center;
}